/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
background-color: white;
  }
  

#principalt {font-size: 70px;
    font-family: 'Indie Flower', cursive, Verdana, Geneva, Tahoma, sans-serif;
color: #c6a9eb;
 }


#ginger1 {position: relative;
  animation-name: example;
  animation-duration: 4s ;
  background-color: white;
  animation-iteration-count: infinite;
  overflow: hidden;
  box-sizing: border-box;
}

@keyframes example {
  0%   {left: 0px; }
  10% {top: 16px;}
  20%{bottom:22px;}
 
 
  
}


#ginger2 {position: relative;
animation-name: gin;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes gin {
  0% {left: 0px;}
  50% {left: 20px;}
}




.showcase {background-color: #89c9b8;}




  body {
    font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
     
        background-color: white;

    color: #48466d;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  a {
    color: #48466d;
    font-weight: 500;
    font-size: 27px;
    text-decoration: none;
  }

  a:hover { color: #f9c4ac;}
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }




.titulo2 {font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    ;
}


 
  /* Navigation */
  .nav-main {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0;
    
  }
  
  .nav-brand {
    width: 100px;
  }
  
  /* Navbar Left */
  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li a {
    padding: 2px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid  #89c9b8;
  }
  
  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  hr {
    margin: 10px 0;
  }
  


  .links2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links2 a {
    margin: 0 10px;
  }
  
  .links2 a i {
    font-size: 1,5rem;
  }

  /* Responsive Button */
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;

  }
  
  /* SHOWCASE */
  
  .showcase {background-color: white;}
  
  .btn:hover {
    opacity: 0.9;
  }

  
  .showcase h2,
  .showcase p {
    margin-bottom: 10px;
  }
  
  .showcase .btn {
    margin-top: 20px;
  }
  
  /* News Cards */

 


  .news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
  }
  
  .news-cards img {
    width: 100%;
    height: 180px;
  }
  
  .news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .news-cards a {
    padding: 10px 0;
    color: #f9c4ac;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
  
  /* CARDS BANNER ONE */
  .cards-banner-one {
    width: 100%;
    height: 350px;
    background: url(images/coronavirus-4939242_640.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
    
 }
  
  .cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #48466d;
    position: absolute;
    background-color: inherit;
    
  }
  
  .cards-banner-one p,
  .cards-banner-two p {
    margin: 10px 0 20px 0;
  }
  
  /* CARDS BANNER TWO*/
  .cards-banner-two {
    width: 100%;
    height: 350px;
    background: url("images/baby-623417_1920.jpg") no-repeat center center/cover;
    color: white;
  }
  
  .cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
  }
  
  /* Follow */
  .social {
    margin: 50px;
  
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 30px;
  }
  
  .links a i {
    font-size: 3rem;
  }
  
  /* Links */
  .footer-links {
    background: #d3dfd2;
    color: #616161;
    font-size: 10px;
    padding: 35px 0;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 10px;
  }
  
  .footer-container ul {
    margin: 0 auto;
  }
  
  .footer-links li {
    line-height: 2.8;
  }
  
  .footer {
    background: #d3dfd2;
    font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
    color: #48466d;
    font-size: 10px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
  }

  .f1 {font-size: 20px;}


  .datos {font-size: 10px;
    font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;}


    #piedepagina {background-color: #d3dfd2;
    font-size: 20px;}
  
  /* Mobil */
  @media (max-width: 700px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .nav-main ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-main ul.nav-menu li {
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
    .nav-main ul.nav-menu li:last-child {
      border-bottom: 0;
    }
  
    .nav-main ul.nav-menu.show {
      transform: translateX(-20px);
      
    }
  
    .nav-main ul.nav-menu-right {
      margin-right: 50px;
    }
  
    .news-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 80%;
    }
  
    .footer-links .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .news-cards {
      grid-template-columns: 1fr;
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 100%;
      padding: 60px 20px;
    }
    .footer-links .footer-container {
      grid-template-columns: 1fr;
    }
  
    .footer-links .footer-container ul {
      text-align: center;
    }
  }



/* CONTACTO */

form {width: 600px;
  color: rgb(156, 155, 155);
font-size: 40px;
font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
color: #48466d;
margin: auto;
padding: 10px 20px;
box-sizing: border-box;



}

.form1 {
top: 20px;
font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {width: 100%;
margin-bottom: 30px;
padding: 7px;
box-sizing: border-box;
font-size: 15px;
border: double;
border-color: #1284ad;
font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;


}

textarea {min-height: 100px;
max-width: 600px;}

#boton {background: #c3c3c3;
color: #48466d;
padding: 20px;
font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
font-size: 25px;
}

#boton:hover {cursor: pointer;}

@media (max-width: 490px) { 
  form{width: 100%;}
}



/* BLOG */


.acordeon {box-sizing: border-box;}

.acordeon input {display: none;}

.acordeon__titulo {display: block;
padding: 15px;
background-color: #89C9B8;
color:#48466d;
font-size: 20px;
cursor: pointer;
border-bottom: 1px solid white;
text-transform: uppercase;
}

.acordeon__titulo:hover {background-color: #f9c4ac;}

.acordeon__contenido {height: 0;
overflow: hidden;
margin: 0;
transition: 0.5s;
font-size: 25px;

}

.acordeon input:checked ~ .acordeon__contenido{ height: auto;
  margin: 15px 0;}

.blogh {font-size: 30px;
color: #48466d;
text-decoration: #1284ad;}

.imagen_clima1 {width: 150px;
height: 150px;
float: left;}

#aquim {background-color: white;
color:#1284ad;}

#aquim:hover {color:#f9c4ac; }



/* ATENCION PSICOLOGICA */

#titleatencion {font-size: 40px;
  color: #89c9b8;
  font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

/* NOSOTROS*/

#nosotrostexto {font-size: 25px;
  font-family: 'Gochi Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
}


#cre {font-family: 'Indie Flower', cursive, Verdana, Geneva, Tahoma, sans-serif;
color: #89c9b8;
font-size: 22px;}